/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tilt Neon', Arial, sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #542B49;
  padding: 25px 50px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a, button {
  cursor: pointer;
}


.contact-buttons {
  display: flex;
  gap: 10px;
  justify-self: end;
}

button {
  border: 3px solid white;
  background: none;
  color: white;
  padding: 10px 10px;
  font-size: 18px;
  font-family: 'Tilt Neon', Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: #542B49;
}

.logo {
  width: 30%;
}

.footer {
  background-color: #542B49;
  padding: 25px 50px;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 16px;
}

/* home */

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner.jpg');
  height: 500px;
  background-size: cover;
  background-position: center;
  padding: 25px 50px;
  display: grid;
  align-items: center;
}

.headline {
  font-size: 64px;
  color: white;
}

.tagline {
  font-size: 24px;
  color: white;
  margin-top: 24px;
}

/* menu */

.menu {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: center;
}

.pizza-name {
  margin-bottom: 10px;
  font-size: 36px;
}

.price {
  margin-bottom: 25px;
}

/* contact */

.contact {
  padding: 50px;
  display: grid;
  justify-content: center;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 600px;
}

.input-group {
  display: grid;
  font-size: 16px;
}

input {
  font-size: 20px;
  font-family: 'Tilt Neon', Arial, sans-serif;
  padding: 3px;
}

label {
  margin-bottom: 10px;
}

.contact-form button {
  border: 3px solid #542B49;
  background: none;
  color: #542B49;
  padding: 10px 10px;
  font-size: 18px;
  font-family: 'Tilt Neon', Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: #542B49;
  color: white;
}